@model CadeMeuMedico.Models.Cidades

@{
    ViewBag.Title = "Editar";
}

<h2>Editar Cidade</h2>

@using (Html.BeginForm("Editar", "Cidades", FormMethod.Post, new{@class = "form-horizontal"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dados da cidade</legend>
        @Html.HiddenFor(model => model.IDCidade)
        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nome, new{@class="form-control"})
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        <br />
        <p>
            <input type="submit" value="Gravar" class="btn btn-primary" />
        </p>
    </fieldset>
}

@section Scripts {
    <script>
        $("#menuCidades").addClass("active");
    </script>
}
