<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cade meu medico? - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet" />
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Cade meu medico?</a>
            </div>
            <div class="collpse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="menuHome">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="menuMedicos">@Html.ActionLink("Médicos", "Index", "Medicos")</li>
                    <li id="menuEspecialidades">@Html.ActionLink("Especialidades", "Index", "Especialidades")</li>
                    <li id="menuCidades">@Html.ActionLink("Cidades", "Index", "Cidades")</li>    
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <script src="@Url.Content("~/Scripts/jquery-2.0.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
